* {
  box-sizing: border-box;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.back {
  position: absolute;
  background-image: url('../../images/04.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: -1;
  filter: blur(20px);
}

.input:focus {
  outline: none;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}