* {
  box-sizing: border-box;
}

.body {
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 10px;
}

.container {
  width: 200px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.toggle {
  visibility: hidden;
}

.label {
  background-color: #d0d0d0;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 67px;
  position: relative;
  animation: toUnChecked 0.5s cubic-bezier(.22, .52, .57, 1) forwards;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  position: absolute;
  top: 3px;
  left: 3px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.25);
  animation: slideOff 0.5s ease-in-out forwards;
}

.toggle:checked + .label {
  background-color: #30d158;
  animation: toChecked 0.5s cubic-bezier(.75, -0.08, .69, .44) forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.5s ease-in-out forwards;
}

@keyframes toChecked {
  0% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #30d158;
  }
}

@keyframes toUnChecked {
  0% {
    background-color: #30d158;
  }
  100% {
    background-color: #d0d0d0;
  }
}

@keyframes slideOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(27px);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(27px);
  }
  100% {
    transform: translateX(0);
  }
}