@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
}

.body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

.container {
  background-color: #476ce4;
  border: none;
  border-radius: 15px;
  color: #fff;
  padding: 50px 80px;
  margin: 20px auto;
  max-width: 768px;
  position: relative;
  view-transition-name: container-change;
}

.progressBar {
  background-color: #fff;
  border: 0;
  height: 4px;
  width: 100%;
  transform-origin: left;
  animation: grow 10s linear infinite;
}

.leftIcon {
  position: absolute;
  left: 25px;
  transform: translateX(50%);
  font-size: 28px;
  color: rgba(255, 255, 255, 0.3);
}

.rightIcon {
  position: absolute;
  right: 25px;
  transform: translateX(-50%);
  font-size: 28px;
  color: rgba(255, 255, 255, 0.3);;
}

.testimonial {
  margin: 16px 0;
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userImage {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.userInfo {
  margin-left: 10px;
}

.userName {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  margin: 0;
}

.userRole {
  font-weight: normal;
  margin: 10px 0;
}

@keyframes grow {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.6);
  }
}

::view-transition-old(container-change) {
  /* animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fadeOut; */
  animation: 90ms linear both fadeOut;
}

::view-transition-new(container-change) {
  /* animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fadeIn; */
  animation: 210ms linear 90ms both fadeIn;
}