@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  box-sizing: border-box;
}

.body {
  font-family: "Oswald", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.title {
  margin: 10px 0 0;
}

.icon {
  color: red;
}

.wrapper {
  position: relative;
  width: 80vw;
  height: 75vh;
  padding: 0;
  margin: 0;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease-in-out;
}

.container {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}

.slideContainer {
  height: 100%;
  width: 100%;
  display: flex;
  transition: all 0.5s ease-in-out;
}

.loveMe {
  /* flex: 0 0 80vw; */
  flex-shrink: 0;
  /* flex-basis: 80vw; */
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}

.loveMe .icon {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

.actionButtons {
  position: relative;
  height: 0;
  width: 0;
}

.btn {
  z-index: 100;
  position: absolute;
  top: calc(37.5% + 97px);
  padding: 20px;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(70, 70, 70, 0.5);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #222222;
}

.btn:active {
  transform: translateY(-50%) scale(0.85);
}

.btn.left {
  left: 3%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn.right {
  right: 3%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn::before {
  content: '';
  position: absolute;
  left: -100%;
  top: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
    #ffffff00,
    #ffffff00 40%,
    #ffffff 50%,
    #ffffff00 60%);
  transition: 0.3s;
}

.btn:active::before {
  top: 100%;
  left: 100%;
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(8);
    opacity: 0;
  }
}

@media (max-width: 800px) {
 .btn {
  padding: 10px;
 }
}

@media (max-width: 520px) {
  .btn {
    padding: 5px;
  }
}